<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netflix Register Page | CodingNepal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="form-wrapper">
        <h2>Sign Up</h2>
        <form action="#">
            <div class="form-control">
                <input type="text" required>
                <label>Email</label>
            </div>
            <div class="form-control">
                <input type="password" required>
                <label>Add password</label>
            </div>
            <div class="form-control">
                <input type="password" required>
                <label>Confirm password</label>
            </div>
            <button type="submit">Sign Up</button>
            <div class="form-help"> 
                <div class="remember-me">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me" style="color: rgb(0, 0, 0)">Remember me</label>
                </div>
            </div>
        </form>
        <p style="color: rgb(0, 0, 0)">Have a account ? <a href="../LoginPage/Login.html">Sign in now</a></p>
    </div>
</body>
</html>