<!DOCTYPE html>
<html>
    <head>
        <title>My Favorite Movies</title>
        <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="main.css" />
    </head>
    <body class="homepage is-preload">
        <div id="page-wrapper">

			<!-- Header -->
				<section id="header" class="wrapper">

					<!-- Logo -->
						<div id="logo">
							<h1><a href="index.html">Movies Box</a></h1>
							<p>Enjoy Your Movie</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="../Home/index.html">Home</a></li>
								<li class="active"><a href="Favorite.html">Favorite</a></li>
								<li><a href="../Accessories/Accessories.html">Accessories</a></li>
								<li><a href="../ContactPage/contact.html">Contact</a></li>
							</ul>
						</nav>

				</section>

			<!-- Intro -->
				<section id="intro" class="wrapper style1">
					<div class="title">My Favorite Movies</div>
					<div class="container">
						<div class="row aln-center">
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="img/Poster_GOT.jpg" alt="" /></a>
									<h3><a href="#">Game of Thrones</a></h3>
									<p></p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="img/Poster_JW4.jpg" alt="" /></a>
									<h3><a href="#">John Wick Chapter 4</a></h3>
									<p></p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="col-4 col-12-medium">
								<section class="highlight">
									<a href="#" class="image featured"><img src="img/Poster_SM.jpg" alt="" /></a>
									<h3><a href="#">Spider-Man Across the Spider-Verse</a></h3>
									<p></p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</section>


		</div>
    </body>
</html>